html {
  font-size: 10px;
  background: url('./mic.png') bottom center;
  background-size: cover;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header-message {
  background-color: #f0f8ff;
  border: 2px solid #00ced1;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #333;
  width: auto;
  display: inline-block;
  position: relative;
  top: 20px;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.key {
  border: .25rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-width: .3rem;
  box-shadow: 0 0 .5rem;
}

.playing65 { border-color: #ffc600; box-shadow: 0 0 .8rem #ffc600; }
.playing83 { border-color: #ddff00; box-shadow: 0 0 .8rem #ddff00; }
.playing68 { border-color: #aeff00; box-shadow: 0 0 .8rem #aeff00; }
.playing70 { border-color: #00ffe1; box-shadow: 0 0 .8rem #00ffe1; }
.playing71 { border-color: #4ba5f4; box-shadow: 0 0 .8rem #4ba5f4; }
.playing72 { border-color: #c460f6; box-shadow: 0 0 .8rem #c460f6; }
.playing74 { border-color: #dc40df; box-shadow: 0 0 .8rem #dc40df; }
.playing75 { border-color: #ee3b89; box-shadow: 0 0 .8rem #ee3b89; }
.playing76 { border-color: #ffc600; box-shadow: 0 0 .8rem #ffc600; }

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #dd78de;
}

/* Media Queries pour les petits écrans */
@media (max-width: 768px) {
  .header-message {
    font-size: 1rem;
    padding: 3px 6px;
  }
  .key {
    width: 8rem;
    font-size: 1.2rem;
    padding: 0.8rem 0.4rem;
  }
  kbd {
    font-size: 3rem;
  }
}

/* Media Queries pour les écrans très petits (mobiles) */
@media (max-width: 480px) {
  .header-message {
    font-size: 0.8rem;
    padding: 2px 4px;
  }
  .key {
    width: 6rem;
    font-size: 1rem;
    padding: 0.6rem 0.3rem;
  }
  kbd {
    font-size: 2.5rem;
  }
}
